{% render 'partials/head.liquid' %}

  <img src="images/background.png" alt="pasfoto" id="background">
    <header>
      <nav>
        <a href="https://www.hva.nl/"><img src="images/hvalogo.png" alt="hvalogo" id="imghvalogo"></a>          
        <h1>Hogeschool van Amsterdam</h1>
      </nav>
    </header>
    <main>
      <section>
        <div class="linkersectie">
          <h2>Naam</h2>
          <p>Luuk Tol</p>
          <h2>Beschrijving</h2>
          <ul>
            <li>FDND Student</li>
            <li>Front-End Develepor</li>
            <li>Producer</li>
          </ul>
        </div>
        <div class="rechtersectie">
          <img src="images/ikpic.jpg" alt="pasfoto" id="pasfoto">
        </div>
      </section>
    </main>

    {{ person.name }}

{% render 'partials/foot.liquid' %}
