<meta http-equiv="refresh" content="1"> <!-- Verwijder dit dit is puur voor een test en refreshed constant de html -->
<h1>Data-Driven Web</h1>
<p>Ik ben {{ person.name }}</p>
<p>Het is vandaag {{ 'now' | date: "%d-%m-%Y" }} de exacte tijd is {{ 'now' | date: "%H:%M:%S"}}</p>
<p>Ik ben geboren op {{person.birthdate | date: "%d-%m-%Y"}}</p>