body{
  margin: 0;
  padding: 0;
}

header{
  position: relative;
  width: 520px;
  height: 320px;
  nav.mainCard{
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    border: 5px solid;
    border-radius: 40px;
    .hvaLogo{
      display: flex;
      align-items: center;
      margin: 40px 0px 0px 10px;
      img.logo{
        width: 44px;
        height: 44px;
      }
    }
    article.cardContent{
      display: flex;
      justify-content: space-between;
      margin: 20px;
      .cardText{
        margin: 0px;
      }
      .cardImage{
        img.photo{
          width: 110px;
          height: 147px;
        }
      }
    } /* styling voor nav */
  }
}

nav::before { /* lijn boven boven */
  content: '';
  position: absolute;
  width: 100%;
  height: 39px; /* grootte */
  background-color: black;
  border-radius: 18px 18px 0 0; /* radius alleen aan de bovenkant */
  z-index: 1; /* voor het plaatje */
}
.mainCard::after { /* lijn boven boven */
  content: '';
  position: absolute;
  top: 282px;
  width: 100%;
  height: 39px; /* grootte */
  background-color: black;
  border-radius: 0 0 21px 21px; /* radius alleen aan de onderkant */
  z-index: 1; /* voor het plaatje */
}